---
- name: Install nginx
  ansible.builtin.apt:
    name: nginx
    state: present
    update_cache: true

- name: Ensure nginx service is running
  ansible.builtin.systemd:
    name: nginx
    enabled: true
    state: started
